@model ProductAssignmentRequest

@{
    ViewBag.Title = "Party Assign";
}

<h1> Party Assignment </h1>

<div class="w-50 d-flex flex-column shadow-sm p-3 mb-5 bg-dark rounded p-3">

    <form asp-action="ProductAssign" asp-controller="ProductAssignment" method="post">
        <div class="form-group mb-3">
            <input type="hidden" value="@Model.PartyID" asp-for="PartyID" />
            <label asp-for="SelectedProductId">Products</label>
            <select asp-for="SelectedProductId" class="form-select" asp-items="@ViewBag.Products">
                <option value="">Please Select</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Assign</button>

        <div asp-validation-summary="All" class="error"></div>

        @if (ViewBag.Errors != null)
        {   
            <div class="danger ml">
                <ul>
                    @foreach (string error in ViewBag.Errors)
                    {
                        <li class="ml">@error</li>
                    }
                </ul>
            </div>
        }
    </form>

</div>
