@model ProductResponseDTO

@{
    ViewBag.Title = "Update Product";
}

<h1> Update Product </h1>

<form asp-action="Update" asp-controller="Product" method="post">
    <div class="form-group">
        <label asp-for="ProductName">Product Name</label>
        <input class="form-control" asp-for="ProductName" placeholder="Enter Product Name" value="@Model.ProductName">
        <span asp-validation-for="ProductName" class="danger"></span>

        <label asp-for="Price">Product Price</label>
        <input asp-for="Price" readonly class="form-control" value="@Model.Price">
        <input asp-for="ProductId" type="hidden">
    </div>

    <button type="submit" class="btn btn-primary">Create</button>

    <div asp-validation-summary="All" class="danger"></div>

    @if (ViewBag.Errors != null)
    {
        <div class="danger ml">
            <ul>
                @foreach (string error in ViewBag.Errors)
                {
                    <li class="ml">@error</li>
                }
            </ul>
        </div>
    }
</form>
